{frontmatter}

Разбор решения:
```text
{question}
```
{run_status_block}
{council_question_heading}
{framed_question}

{council_verdict_heading}
{council_agree_heading}
{agrees}

{council_clashes_heading}
{clashes}

{council_blind_spots_heading}
{blind_spots}

{council_recommendation_heading}
{recommendation}

{council_first_step_heading}
{first_step}

{council_advisor_positions_heading}
{advisor_blocks}

{council_peer_review_heading}
{peer_review_blocks}
{related_block}
